body {
    background-color: #f3f7fa;
    padding: 50px 103px;
  }

.contentBox {
    background-color: #FFF;
}

.hehmda {
    background-color: aquamarine;

    .textSpan {
        color: rgb(152, 0, 0);
        font-weight: bold;
        font-size: 36px;
    }
}
