.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: gray;
  height: 80px;
  padding: ;
  font-size: 18px;
}

.headerGreenText {
  color: #52C41A;
}
