.fullPost {
    display: flex;
    gap: 85px;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    max-width: 840px;
    padding: 20px;
    height: 870px;
  
    .postInfo {
      display: flex;
      flex-direction: column;
      max-width: 680px;
      font-size: 12px;
      gap: 5px;
  
      .titleAndLikesContainer {
        display: flex;
        align-items: center;
  
        .articleTitle {
          color: #1890ff;
          margin-right: 13px;
          font-size: 20px;
        }
      }
    }
  
    .authorInfo {
      display: flex;
      align-items: flex-start;
      min-width: 141px;
      gap: 15px;
  
      .NameAndDateContainer {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
  
        .Name {
          font-size: 18px;
        }
  
        .Date {
          color: #00000080;
          font-size: 12px;
        }
      }
    }
  }
  