.fullPost {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  width: 938px;
  padding: 20px;
  height: 870px;

  .postInfo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 5px;

    .titleAndLikesContainer {
      display: flex;
      align-items: center;

      .articleTitle {
        color: #1890ff;
        margin-right: 13px;
        font-size: 20px;
      }
    }
  }

  .postContent {
    display: flex;
    gap: 70px;
    align-items: center;
    margin-top: 16px;

    .postDescription {
      max-width: 682px;
      line-height: 22px;
      font-size: 12px;
      color: #00000080;
    }
  
    .fullArticleGreenButton,
    .fullArticleRedButton {
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
    }
  
    .fullArticleGreenButton {
      padding: 6px 19px;
      color: #52c41a;
      border-color: #52c41a;
    }
  
    .fullArticleRedButton {
      padding: 6px 10px;
      color: #f5222d;
      border-color: #f5222d;
    }
  }


  .authorInfo {
    display: flex;
    align-items: flex-start;
    min-width: 141px;
    gap: 15px;

    .NameAndDateContainer {
      display: flex;
      margin-top: 6px;
      justify-content: center;
      align-items: baseline;
      flex-direction: column;

      .Name {
        font-size: 18px;
      }

      .Date {
        color: #00000080;
        font-size: 12px;
      }
    }
  }
}
