.mainTicketInfo,
.otherTicketInfo {
  display: flex;
}

.mainTicketInfo {
  justify-content: space-between;
}

.otherTicketInfo {
  gap: 20px;
  
  .infoRow {
    display: flex;
    // color: #A0B0B9;
  }
}
