.mainTicketInfo,
.otherTicketInfo {
  display: flex;
}

.mainTicketInfo {
  justify-content: space-between;

  .price {
    color: #2196F3;
    font-size: 24px;
  }
}

.otherTicketInfo {
  flex-direction: column;
  gap: 20px;

  .infoRow {
    display: flex;
    gap: 70px;
  }

  .infoTwoLined {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .titleLine {
        color: #A0B0B9;
    }
  }
}
