.postPreview {
    display: inline-block;
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;

    .postInfo {

    }

    .authorInfo {
        display: flex;
        align-items: center;
        gap: 15px;

        .NameAndDateContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .
        }
    }
  }


