.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  padding: 48px 33px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
