.fullPost {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    width: 938px;
    padding: 20px;
    min-height: 870px;
  }
  